---
layout: page
title: Reunión de mayo de 2015
---
{% block content %}
    <div class="row">
        <h1>Reunión de mayo de 2015</h1>
        <div class="col-md-6">
            {% include 'venues/idit.html.twig' %}
        </div>
        <div class="col-md-6">
            <br>
            <p>
                En esta ocasión la reunión fue en el Instituto de Diseño e
                Innovación Tecnológica
                (<a href="http://www.iberopuebla.edu.mx/micrositios/IDIT/">IDIT</a>)
                de la Univeridad Iberoamericana de Puebla.
            </p>
            <p>Contamos con un total de 3 pláticas</p>
            <p class="lead">¡No te pierdas las siguiente!</p>
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/mSRP3vDYTyY" allowfullscreen></iframe>
            </div>
            <a href="https://joind.in/" target="_blank" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-star"></span> Califica esta plática
            </a>
        </div>
        <div class="col-md-6">
            <p class="lead text-center">Título de tu plática</p>
            <p class="text-muted text-center">Describe tu plática</p>
            {% include 'team/montealegreluis.html.twig' %}
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/mSRP3vDYTyY" allowfullscreen></iframe>
            </div>
            <a href="https://joind.in/" target="_blank" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-star"></span> Califica esta plática
            </a>
        </div>
        <div class="col-md-6">
            <p class="lead text-center">Título de tu plática</p>
            <p class="text-muted text-center">Describe tu plática</p>
            {% include 'team/michmendar.html.twig' %}
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/mSRP3vDYTyY" allowfullscreen></iframe>
            </div>
            <a href="https://joind.in/" target="_blank" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-star"></span> Califica esta plática
            </a>
        </div>
        <div class="col-md-6">
            <p class="lead text-center">Título de tu plática</p>
            <p class="text-muted text-center">Describe tu plática</p>
            {% include 'team/montealegreluis.html.twig' %}
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-user"></span> Asistentes </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/montealegreluis.html.twig' %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/michmendar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
