---
layout: page
title: Eventos
---
{% block content %}
    <h1>Reuniones</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>
                <a href="/eventos/reuniones/2015-mayo/">
                    <span class="glyphicon glyphicon-map-marker"></span> Reunión de Mayo de 2015
                </a>
            </h1>
        </div>
    </div>
{% endblock %}
