<!DOCTYPE html>
<html>
    <head>
        {% include 'components/head.html.twig' %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            {% include 'components/navigation.html.twig' %}
        </header>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-md-4">
                    {# Change this include monthly #}
                    {% include 'meetups/2015-abril.html.twig' %}
                </div>
            </div>
        </div>
        <footer class="container">
            &copy; {{ "now"|date("Y") }} {{ site.title }}
        </footer>

        <script src="/components/jquery/jquery.min.js"></script>
        <script src="/components/bootstrap/js/bootstrap.min.js"></script>
        {% include 'components/analytics.html' %}
    </body>
</html>
