<nav class="navbar navbar-inverse" id="footer-nav">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="footer-msg">
                    <a href="//creativecommons.org/licenses/by-nc/2.5/">
                        <img src="//licensebuttons.net/l/by-nc/3.0/88x31.png" alt="Algunos derechos reservados">
                    </a>

                    &copy; {{ "now"|date("Y") }} {{ site.title }}
                </p>
            </div>

            <div class="collapse navbar-collapse" id="footer-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://twitter.com/ComPHPPuebla" target="_blank">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ComPeHPPuebla" target="_blank">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ComPHPPuebla" target="_blank">
                            <i class="fa fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/ComPHPPuebla" target="_blank">
                            <i class="fa fa-youtube fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Comunidadphppuebla" target="_blank">
                            <i class="fa fa-google-plus fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="http://comunidadphppuebla.us8.list-manage1.com/subscribe?u=e343eb688094084da9979430d&id=e7bd793de7"
                            target="_blank">
                            <i class="fa fa-envelope fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/atom.xml" target="_blank">
                            <i class="fa fa-rss fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
