<div class="row">
    <div class="col-md-6">
        <p>&copy; {{ "now"|date("Y") }} {{ site.title }}</p>
    </div>

    <div class="col-md-6 text-right">
        <ul class="list-inline social-buttons">
            <li>
                <a href="https://twitter.com/ComPHPPuebla" target="_blank">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/ComPeHPPuebla" target="_blank">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/ComPHPPuebla" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/user/ComPHPPuebla" target="_blank">
                    <i class="fa fa-youtube fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/+Comunidadphppuebla" target="_blank">
                    <i class="fa fa-google-plus fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
