<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img src="/images/logo-comunidad.png" alt="{{ site.title }}" title="{{ site.title }}">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav main-nav">
                    <li><a href="/nosotros/">Nosotros</a></li>
                    <li><a href="/patrocinadores/">Patrocinadores</a></li>
                    <li><a href="/comunidades/">Comunidades</a></li>
                    <li><a href="/participa/">Participa</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li>
                        <a
                            href="https://www.linkedin.com/groups?jobs=&gid=6950680&trk=groups_guest_most_popular-h-jobs"
                            target="_blank">
                            Bolsa de trabajo
                        </a>
                    </li>
                    <li>
                        <a
                            href="http://groups.google.com/d/forum/gu-php-puebla"
                            target="_blank">
                            Foro
                        </a>
                    </li>
                    <li><a href="http://www.phpdaypuebla.com.mx/" target="_blank">PHP Day Puebla</a></li>
                    <li><a href="/codigo-de-conducta/">Código de conducta</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
