<div class="panel panel-default">
    <div class="panel-heading">Siguiente reunión</div>

    <div class="panel-body">
        <h3>
            <span class="glyphicon glyphicon-time"></span>
            Fecha
        </h3>
        <p>Sábado 30 de mayo de 2015 de 12 a 14 hrs.</p>

        <h3>
            <span class="glyphicon glyphicon-home"></span>
            Lugar
        </h3>
        {# Change this include monthly #}
        {% include 'venues/inventoteca.html.twig' %}

        <h3>
            <span class="glyphicon glyphicon-comment"></span>
            Pláticas
        </h3>

        {# Change this include monthly #}
        {% include 'meetups/2015-04.html.twig' %}

        <a
            class="btn btn-primary btn-block btn-lg"
            href="http://www.eventbrite.es/o/grupo-de-usuarios-php-puebla-3508940843"
            target="_blank"
            role="button">
            <span class="glyphicon glyphicon-calendar"></span> Regístrate
        </a>
    </div>
</div>
