<p class="lead text-center">Título de tu plática</p>
<p class="text-muted text-center">Describe tu plática</p>
{# Aquí incluye el archivo con tus datos de contacto #}
{# Reemplaza el # por un % en la siguiente línea #}
{# include 'team/montealegreluis.html.twig' #}
