<p class="lead text-center">Creacion de un entorno MVC con PHP</p>
<p class="lead text-center">Duracion: 15 minutos</p>
<p class="text-muted text-center">
En la actualidad muchos desarrolladores web necesitamos de un framework que cumpla con la arquitectura MVC,
sin embargo hay programadores que se sienten frustrados (mi caso) si utilizan algunas herramientas que no 
estan desarrolladas por uno mismo. En este platica se pretende dar una introduccion a lo que es el MVC y como
empezar a crear un framework desde cero respetantoo la arqutectura.
<br>
</p>
{% include 'team/moisesespindola.html.twig' %}
