---
layout: page
title: Crafting code tour
---
{% block content %}
    <h1>Crafting Code Tour 2014</h1>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="/images/workshops/crafting-code-tour/cct-puebla.jpg">
            </a>
        </div>
        <div class="media-body">
            <p>
                El 13 de septiembre de 2014 tuvimos el honor de tener como invitado a
                <a href="http://www.brandonsavage.net/">Brandon Savage</a> con una plática
                llamada <em>Los 7 pecados capitales del diseño orientado a objetos</em>.
            </p>
            <p>
                En esa ocasión contamos con el apoyo del
                <a href="https://www.facebook.com/VinculacionFCCBUAP">departamento de Vinculación</a>
                de la Benemérita Universidad Autónoma de Puebla, quienes amablemente nos
                permitieron organizar el evento en el Auditorio Albert Einstein de
                la facultad.
            </p>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-picture"></span> Galería</h2>
    <div class="row">
        <div class="col-md-4">
            <img
                src="/images/workshops/crafting-code-tour/brandon-1.jpg"
                class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img
                src="/images/workshops/crafting-code-tour/brandon-2.jpg"
                class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img
                src="/images/workshops/crafting-code-tour/brandon-3.jpg"
                class="img-responsive img-rounded center-block">
        </div>
    </div>
    <br>
    <div class="row">
        <a
            href="https://www.facebook.com/media/set/?set=a.653502034756736.1073741849.390406104399665&type=3"
            class="btn btn-block btn-primary btn-lg"
            target="_blank"
        >
            <i class="fa fa-facebook"></i> Ver el album completo
        </a>
    </div>
    <h2><span class="glyphicon glyphicon-facetime-video"></span> Video</h2>
    <div class="row">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe
                src="https://www.youtube.com/embed/pBgMz7iFx3k"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-user"></span> Asistentes </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/montealegreluis.html.twig' %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/michmendar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
