---
layout: page
title: Curso CSS3
---
{% block content %}
    <h1>Curso CSS3</h1>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="/images/workshops/css3/css3-mini.jpg">
            </a>
        </div>
        <div class="media-body">
            <p>
                El 12 de febrero de 2014 tuvimos como instructor a
                <a href="https://twitter.com/moneda_ldg">Carlos Moneda</a> compartiendo sus conocimientos
                como Diseñador y Maquetador Web en el curso de <em>CSS3</em>.
            </p>
            <p>
                En esa ocasión contamos con el apoyo del
                <a href="https://www.facebook.com/VinculacionFCCBUAP">departamento de Vinculación</a>
                de la Benemérita Universidad Autónoma de Puebla, quienes amablemente nos
                permitieron dar el curso en las instalaciones del Facultad de Ciencias de la Computación.
            </p>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-picture"></span> Galería</h2>
    <div class="row">
        <div class="col-md-4">
            <img
                    src="/images/workshops/css3/css3-1.jpg"
                    class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img
                    src="/images/workshops/css3/css3-2.jpg"
                    class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img
                    src="/images/workshops/css3/css3-3.jpg"
                    class="img-responsive img-rounded center-block">
        </div>
    </div>
    <br>
    <div class="row">
        <a
                href="https://www.facebook.com/media/set/?set=a.558865877553686.1073741846.390406104399665&type=3"
                class="btn btn-block btn-primary btn-lg"
                target="_blank"
                >
            <i class="fa fa-facebook"></i> Ver el album completo
        </a>
    </div>
    <h2><span class="glyphicon glyphicon-user"></span> Asistentes </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/montealegreluis.html.twig' %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/michmendar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}