---
layout: page
title: Taller AngularJS
---
{% block content %}
    <h1>Taller de AngularJS</h1>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="/images/workshops/angularjs/angular-mini.jpg">
            </a>
        </div>
        <div class="media-body">
            <p>
                El 17 de mayo de 2014 tuvimos tuvimos como invitado a
                <a href="https://twitter.com/eusoj">Josué Gutiérrez</a> compartiendo sus conocimientos en el taller
                <em>AngularJS</em>.
            </p>
            <p>
                En esa ocasión contamos con el apoyo del
                <a href="https://www.facebook.com/CentroIDEAPuebla">Centro Idea</a>, quienes amablemente nos
                permitieron organizar el evento en sus instalaciones.
            </p>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-picture"></span> Galería</h2>
    <div class="row">
        <div class="col-md-4">
            <img
                    src="/images/workshops/angularjs/angularjs-1.jpg"
                    class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img
                    src="/images/workshops/angularjs/angularjs-2.jpg"
                    class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img
                    src="/images/workshops/angularjs/angularjs-3.jpg"
                    class="img-responsive img-rounded center-block">
        </div>
    </div>
    <br>
    <div class="row">
        <a
                href="https://www.facebook.com/media/set/?set=a.590540627719544.1073741848.390406104399665&type=3"
                class="btn btn-block btn-primary btn-lg"
                target="_blank"
                >
            <i class="fa fa-facebook"></i> Ver el album completo
        </a>
    </div>
    <h2><span class="glyphicon glyphicon-user"></span> Asistentes </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/montealegreluis.html.twig' %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/michmendar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}