<img src="/images/community/michmendar.jpg" class="img-responsive img-circle center-block" alt="Misraim" style="height: 100px">
<p class="lead text-center">
    Misraim Mendoza
    <small class="text-muted">Desarrollador Web</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="https://twitter.com/MichMendar" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
</ul>
