<img src="https://pbs.twimg.com/profile_images/589647261996482560/6LFABk-2.jpg" class="img-responsive img-circle center-block" alt="Moy">
<p class="lead text-center">
    Moisés Espíndola
    <br>
    <small class="text-muted">Desarrollador Web</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="http://www.creasati.com.mx" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
    <li><a href="https://twitter.com/zaer00t" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://www.linkedin.com/in/dnatmoy" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
    <li><a href="https://github.com/zaer" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
</ul>
