<img src="https://pbs.twimg.com/profile_images/589647261996482560/6LFABk-2_400x400.jpg" class="img-responsive img-circle center-block" alt="Moy">
<p class="lead text-center">
    Moises Espindola
    <br>
    <small class="text-muted">Desarrollador Web</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="http://www.creasati.com.mx/" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
    <li><a href="https://twitter.com/zaer00t" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://mx.linkedin.com/pub/moises-espindola/58/374/a75" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
</ul>
