<div class="col-sm-4">
    <div class="well">
        <img src="/images/community/montealegreluis.jpg" class="img-responsive img-circle center-block" alt="Luis">
        <p class="lead text-center">
            Luis Montealegre
            <small class="text-muted">Desarrollador Web</small>
        </p>
        <ul class="list-inline social-buttons text-center">
            <li><a href="https://twitter.com/MontealegreLuis"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/montealegreluis"><i class="fa fa-linkedin fa-2x"></i></a></li>
            <li><a href="https://github.com/MontealegreLuis"><i class="fa fa-github fa-2x"></i></a></li>
            <li><a href="https://www.google.com/+LuisMontealegreV"><i class="fa fa-google-plus fa-2x"></i></a></li>
        </ul>
    </div>
</div>