body {
    background-color: #666;
    font-family: 'Gudea', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    color: #FFF;
}

.jumbotron {
    background-color: #222;
}

.panel-default {
    background-color: #444;
}

.panel-footer {
    color: #333;
}

.btn-primary {
    background-color: #41B2C3;
    border-color: #41B2C3;
}

.btn-primary:hover {
    background-color: #77C5D5;
    border-color: #77C5D5;
    color: #222;
}

a,
code,
#footer-nav .navbar-nav > li > a {
    color: #41B2C3;
}

a:hover,
#footer-nav .navbar-nav > li > a:hover {
    color: #77C5D5;
}

.well {
    color: #222;
}

.well h2 {
    margin-top: 0;
}

h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}

.footer-msg {
    line-height: 3.6em;
    display: inline-block;
}

footer {
    margin-top: 30px;
    border-top: 1px dashed #aaa;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .navbar {
    margin-bottom: 0;
}

footer .navbar a:hover {
    background-color: transparent;
}

.content {
    margin-bottom: 8em;
}

pre {
    overflow: auto !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

pre, code {
    word-wrap: normal !important;
    white-space: pre !important;
    background: #444444;
    font-family: Monaco, Consolas, monospace !important;
    font-size: 0.9em;
    border: none;
}

.post-pagination {
    margin-top: 5em;
}

article {
    padding-bottom: 7em;
}

.main-nav a {
    line-height: 40px !important;
}

@media (min-width: 980px) {
    .content {
        padding-top: 85px;
        padding-bottom: 45px;
    }
}

@media (max-width: 980px) {
    .content {
        margin-top: 65px;
    }
}
