{# Primera plática #}
<div class="well">
    {% include 'meetups/talks/mvcdesdecero.html.twig' %}
</div>

{# Segunda plática #}
<div class="well">
    {% include 'meetups/talks/ejemplo.html.twig' %}
</div>

{# Tercera plática #}
<div class="well">
    {% include 'meetups/talks/ejemplo.html.twig' %}
</div>

<a
    class="btn btn-primary btn-block btn-lg"
    href="https://meetup-mayo-phppuebla.boletia.com/"
    target="_blank"
    role="button">
    <span class="glyphicon glyphicon-calendar"></span> Regístrate
</a>
