{# Primera plática #}
<div class="well">
    {% include 'meetups/talks/ejemplo.html.twig' %}
</div>

{# Segunda plática #}
<div class="well">
    {% include 'meetups/talks/ejemplo.html.twig' %}
</div>

{# Tercera plática #}
<div class="well">
    {% include 'meetups/talks/ejemplo.html.twig' %}
</div>
