<div class="panel panel-success">
    {# Primera plática #}
    {# Título de tu plática #}
    <div class="panel-heading">Lugar disponible</div>
    {# Descripción de tu plática #}
    <div class="panel-body">
        <p class="lead text-center"><span class="glyphicon glyphicon-comment"></span> </p>
        <p class="lead text-center">Este espacio podría ser para tu plática</p>
    </div>
    {# Quita la siguiente línea #}
    <div class="panel-footer">
        Envía ya tu plática
    </div>
    {# Agrega un link de contacto #}
    <!-- <p><a class="speaker" target="_blank" href="https://twitter.com/tu_usuario">Tu nombre</a></p> -->
</div>

<div class="panel panel-primary">
    {# Segunda plática #}
    {# Título de tu plática #}
    <div class="panel-heading">Lugar disponible</div>
    {# Descripción de tu plática #}
    <div class="panel-body">
        <p class="lead text-center"><span class="glyphicon glyphicon-comment"></span> </p>
        <p class="lead text-center">Este espacio podría ser para tu plática</p>
    </div>
    {# Quita la siguiente línea #}
    <div class="panel-footer">
        Envía ya tu plática
    </div>
    {# Agrega un link de contacto #}
    <!-- <p><a class="speaker" target="_blank" href="https://twitter.com/tu_usuario">Tu nombre</a></p> -->
</div>

<div class="panel panel-info">
    {# Tercera plática #}
    {# Título de tu plática #}
    <div class="panel-heading">Lugar disponible</div>
    {# Descripción de tu plática #}
    <div class="panel-body">
        <p class="lead text-center"><span class="glyphicon glyphicon-comment"></span> </p>
        <p class="lead text-center">Este espacio podría ser para tu plática</p>
    </div>
    {# Quita la siguiente línea #}
    <div class="panel-footer">
        Envía ya tu plática
    </div>
    {# Agrega un link de contacto #}
    <!-- <p><a class="speaker" target="_blank" href="https://twitter.com/tu_usuario">Tu nombre</a></p> -->
</div>
