{# Primera plática #}
<div class="well">
    <p class="lead text-center">Título de tu plática</p>
    <p class="text-muted text-center">Describe tu plática</p>
    <p class="text-center">
        <a class="speaker" target="_blank" href="#">Tu nombre</a>
    </p>
</div>

{# Segunda plática #}
<div class="well">
    <p class="lead text-center">Título de tu plática</p>
    <p class="text-muted text-center">Describe tu plática</p>
    <p class="text-center">
        <a class="speaker" target="_blank" href="#">Tu nombre</a>
    </p>
</div>

{# Tercera plática #}
<div class="well">
    <p class="lead text-center">Título de tu plática</p>
    <p class="text-muted text-center">Describe tu plática</p>
    <p class="text-center">
        <a class="speaker" target="_blank" href="#">Tu nombre</a>
    </p>
</div>
