---
layout: page
title: Eventos
---
{% block content %}
    <h1>Eventos</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Septiembre de 2014
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/crafting-code-tour/">Crafting Code tour</a></h1>
        </div>
    </div>
{% endblock %}
