---
layout: page
title: Eventos
---
{% block content %}
    <h1>Eventos</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Septiembre de 2014
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/2014/crafting-code-tour/">Crafting Code tour</a></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Mayo de 2014
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/2014/taller-angularjs/">Taller de AngularJS</a></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Febrero de 2014
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/2014/curso-css3/">Curso CSS3</a></h1>
            <h1><a href="/eventos/talleres/2014/curso-jquery/">Curso jQuery</a></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Noviembre de 2013
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/2013/taller-slim/">Taller de Slim</a></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Octubre de 2013
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/2013/taller-entorno-de-desarrollo/">
                    Taller de Entornos de Desarrollo en Linux
            </a></h1>
            <h1><a href="/eventos/talleres/2013/curso-html5-css3/">Curso HTML5 y CSS3</a></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Junio de 2013
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/2013/curso-drupal/">Curso de Drupal</a></h1>
        </div>
    </div>
{% endblock %}
