---
layout: page
title: Eventos
---
{% block content %}
    <h1>Eventos</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Septiembre de 2014
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/2014/crafting-code-tour/">Crafting Code tour</a></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Mayo de 2014
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/2014/taller-angularjs/">Taller de AngularJS</a></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                Febrero de 2014
            </h2>
        </div>
        <div class="panel-body">
            <h1><a href="/eventos/talleres/2014/curso-css3/">Curso CSS3</a></h1>
            <h1><a href="/eventos/talleres/2014/curso-jquery/">Curso jQuery</a></h1>
        </div>
    </div>
{% endblock %}
