---
layout: page
title: Nosotros
---
<h1>Comunidad</h1>

<p>
    Si quieres ponerte en contacto con alguno de nosotros estamos en la
    mejor disposición de conocerte y trabajar juntos.
</p>

<h2>Organizadores</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="well">
            {% include 'team/montealegreluis.html.twig' %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            {% include 'team/michmendar.html.twig' %}
        </div>
    </div>
</div>

<h2>Ponentes</h2>

<h2>Autores</h2>

<h2>Comunidad</h2>
