---
layout: page
title: Taller Slim
---
{% block content %}
    <h1>Taller de Slim</h1>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="/images/workshops/slim/slim-mini.jpg">
            </a>
        </div>
        <div class="media-body">
            <p>
                El 9 de noviembre de 2013 tuvimos como instructor a
                <a href="http://www.montealegreluis.com/">Luis Montealegre</a> compartiendo sus conocimientos
                como Desarrollador Web en el curso de <em>Slim Framework</em>.
            </p>
            <p>
                En esa ocasión contamos con el apoyo del
                <a href="https://www.facebook.com/Digizent">Digizent Internacional</a>, quienes amablemente nos
                permitieron organizar el evento en el Auditorio del Centro BAM, Melchor Ocampo #37, Col. Santiago Momoxpan, San Pedro Cholula, Puebla.
            </p>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-picture"></span> Galería</h2>
    <div class="row">
        <div class="col-md-4">
            <img
                    src="/images/workshops/slim/slim-1.jpg"
                    class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img
                    src="/images/workshops/slim/slim-2.jpg"
                    class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img
                    src="/images/workshops/slim/slim-3.jpg"
                    class="img-responsive img-rounded center-block">
        </div>
    </div>
    <br>
    <div class="row">
        <a
                href="https://www.facebook.com/media/set/?set=a.509971795776428.1073741843.390406104399665&type=3"
                class="btn btn-block btn-primary btn-lg"
                target="_blank"
                >
            <i class="fa fa-facebook"></i> Ver el album completo
        </a>
    </div>
    <h2><span class="glyphicon glyphicon-facetime-video"></span> Videos</h2>
    <div class="row">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe
                    src="https://www.youtube.com/embed/P5s8Sydo154"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe
                    src="https://www.youtube.com/embed/iRDwfnKOKtk"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-user"></span> Asistentes </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/montealegreluis.html.twig' %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/michmendar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}