<p>IDIT de la IBERO</p>
<div class="embed-responsive embed-responsive-4by3">
    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.707283675346!2d-98.241462!3d19.032616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc73e6e9e0efd%3A0x85adde493a769062!2sUniversidad+Iberoamericana+Puebla!5e0!3m2!1ses-419!2smx!4v1426283600224">
    </iframe>
</div>
