<p class="lead">Inventoteca</p>
<address>Avenida 5 Poniente 134, Centro Histórico, 72000 Puebla, Pue</address>
<div class="embed-responsive embed-responsive-4by3">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3771.456533798192!2d-98.20087099999999!3d19.043654999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc0dd6d85eb43%3A0x57079cf20a414ce8!2sInventoteca!5e0!3m2!1ses-419!2smx!4v1428767392841"
    >
    </iframe>
</div>
